body {
  margin: 0;
  font-family: 'Comfortaa', cursive !important;
  font-size: 13px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bb1 {
  border-bottom: 1px solid #ddd;
}
.card-body{
  padding: 0px !important;
}
.card-body ul {
  list-style-type:none; padding:0; margin:0
}
.card-body li {
  border-bottom:1px solid #ddd
}
.card-text{
  padding: 7px;
  font-size: 14px;
}

.card-body a{
  color: #212529;
}
.card-body a:hover, .card-body a li:hover{
  color: #212529;
  background-color: #f0ebeb;
  text-decoration: none;
}